This notebook makes the table with pH-MII characteristics. It's calculated from data sent by Eliza on 2/15.

In [1]:
import pandas as pd
import numpy as np

In [2]:
freflux = '../../data/raw/metadata/reviewer-response-jan2019/k23IMPEDANCERESULTS.csv'
fpts = '../../final/supp_files/patients_used_in_each_analysis.csv'

meta = pd.read_csv(freflux, sep=',')
meta.head()

,SUBJID,SUBJINTL,CLAIREIMPED,AIM1YN,AIM2YN,AIM3YN,VISITDT,VISITNO,COMPDT,INITIAL,...,BILE1SP,BILE2,BILE2SP,BILE3,BILE3SP,BILE4,BILE4SP,filter_$,ABNMLPH,ABNMLIMPED
0,13-071-2,KS,1,1,1,1,12/9/2009,1,12/9/2009,KMH,...,1E-012,-3,-6,1,1E-011,-5,-6,1,0,0
1,03-089-3,BM,1,0,1,1,9/20/2010,1,9/20/2010,KMH,...,,,,,,,,1,1,0
2,02-098-5,JP,1,0,1,0,4/8/2011,1,5/3/2011,KMH,...,-6,-3,-6,1,1E-011,-5,-6,1,1,0
3,02-099-7,JN,1,0,1,0,4/20/2011,1,2/20/2012,JPA,...,1E-012,1,1.51385E-011,1,1E-012,-5,-6,1,1,0
4,13-104-0,EC,1,1,1,1,6/1/2011,1,2/20/2012,JPA,...,-6,-3,-6,-3,-6,-5,-6,1,0,0

In [3]:
df_pts = pd.read_csv(fpts, sep=',', index_col=0)
df_pts.head()

,figure1.overview_plots,figure2.2016_pcoa,figure2.2014_pcoa,figure2.between_patient_jsd_2016_permanova,figure2.between_patient_jsd_2014_permanova,figure2.between_patient_jsd,figure3.site_classifiers,figure3.within_patient_beta_div,figure4.asp_vs_nonasp_beta,exchange_calculation.bal-throat_swab,...,aspiration_classifiers_exchanged_OTUs.bal_gastric_fluid,aspiration_classifiers_exchanged_OTUs.bal_throat_swab,aspiration_classifiers.bal,aspiration_classifiers.gastric_fluid,aspiration_classifiers.throat_swab,aspiration_classifiers.bal_throat_swab,aspiration_classifiers.bal_gastric_fluid,aspiration_classifiers.throat_swab_gastric_fluid,aspiration_classifiers.bal_throat_swab_gastric_fluid,figure5.reflux_correlation
04-080-7,True,False,True,False,True,True,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
01-299-7,False,True,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
04-167-8,False,False,True,False,True,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
04-087-1,True,False,True,False,True,True,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
042-6-F1,False,False,True,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
reflux_pts = df_pts[ df_pts['figure5.reflux_correlation'] == True ].index.tolist()
len(reflux_pts)

28

In [5]:
refluxmeta = meta.query('SUBJID == @reflux_pts')
refluxmeta.shape

(28, 164)

In [6]:
missing_subjs = [i for i in reflux_pts if i not in refluxmeta['SUBJID'].tolist()]
missing_subjs

[]

In [7]:
#meta['SUBJID']

Actually, go back and check that the original metadata doesn't have these.

Number of acid episodes : ACDRFLX

Number of nonacid episodes: NONACD

Number of pH only episodes:PHONLY

Number of total reflux episodes :TOTREFLX

Percent time proximal reflux: perproxtot

Percent time distal reflux: perdistot

Percent time pH < 4: PHLESS4

Number abnormal by pH-metry: ABNMLPH

Number abnormal by MII: ABNMLIMPED

In [8]:
cols = ['ACDRFLX',
        'NONACD',
        'PHONLY',
        'TOTREFLX', 
        'perproxtot', 
        'perdistot',
        'PHLESS4',
        'ABNMLPH',
        'ABNMLIMPED']

In [12]:
refluxmeta['perproxtot'] = refluxmeta['perproxtot']*100
refluxmeta['perdistot'] = refluxmeta['perdistot']*100

In [13]:
refluxmeta[cols].describe()

,ACDRFLX,NONACD,PHONLY,TOTREFLX,perproxtot,perdistot,PHLESS4,ABNMLPH,ABNMLIMPED
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,23.107143,15.428571,16.285714,37.928571,0.481685,1.278209,5.382143,0.321429,0.107143
std,25.534783,16.439403,12.486607,32.421905,0.459560,1.114738,5.165989,0.475595,0.314970
min,0.000000,0.000000,0.000000,9.000000,0.080000,0.120000,0.000000,0.000000,0.000000
25%,7.750000,4.750000,7.000000,19.750000,0.160983,0.426929,0.975000,0.000000,0.000000
50%,15.000000,10.500000,12.500000,25.000000,0.334655,0.986266,3.700000,0.000000,0.000000
75%,29.000000,18.750000,22.500000,46.750000,0.664312,1.447063,8.325000,1.000000,0.000000
max,125.000000,72.000000,54.000000,151.000000,2.102009,4.143381,18.300000,1.000000,1.000000

In [11]:
refluxmeta[['ABNMLPH', 'ABNMLIMPED']].sum()

ABNMLPH       9
ABNMLIMPED    3
dtype: int64